body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#result {
    margin-top: 15px;
    text-align: center;
    color: green;
}
/*Mobile View Support */
@media (max-width: 600px) {
    body {
        background: #f4f6f8;
    }

    .container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
        box-shadow: none;
    }

    h2 {
        font-size: 20px;
    }

    input {
        font-size: 16px;   /* prevents zoom on mobile */
        padding: 10px;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }

    #result {
        font-size: 18px;
    }
}